@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: black;
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  position: relative;
  background: url("/images/background/bg4_dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

::selection {
  color: black;
  background: white;
}

input,
div,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
