@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: white;
  transition: all 999999s;
}

::selection {
  color: white;
  background: black;
}

input,
div,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
